.container {
    position: relative;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.terminate-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.timer {
    font-size: 1.5em;
    font-weight: bold;
}
.workout-info h1 {
    display: flex;
    align-items: center;
}
.workout-info .icona {
    width: 20px; /* Imposta la larghezza dell'immagine */
    height: auto; /* Imposta l'altezza su auto per mantenere le proporzioni */
}

.workout-info img {
    width: 20px; /* Imposta la larghezza dell'immagine */
    height: auto; /* Imposta l'altezza su auto per mantenere le proporzioni */
}
.action-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}
.cancel-workout-btn {
    background-color: #ff4d4d;
}